<div class="footer">
  <div class="row">
    <!-- Connect with Us -->
    <div class="col-lg-3 col-sm-12 connect">
      <h6>CONNECT WITH US</h6>
      <!-- Facebook -->

      <a
        class="btn btn-primary btn-floating"
        style="background-color: #3b5998"
        href="#"
        role="button"
        ><i class="fa fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-primary"
        style="background-color: #55acee"
        href="#"
        role="button"
        ><i class="fa fa-twitter"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-primary"
        style="background-color: #ac2bac"
        href="#"
        role="button"
        ><i class="fa fa-instagram"></i
      ></a>
    </div>
    <!-- /Connect with Us -->

    <!-- Copyright -->
    <div class="col-lg-6 col-sm-12 copyright">
      <p>Copyright &copy; 2020-2021</p>
    </div>
    <!-- Copyright -->

    <!-- Credit -->
    <div class="col-lg-3 col-sm-12 credit">
      <p>Coded with &hearts; by</p>
      <a
        href="https://www.linkedin.com/in/harita-ravindranath/"
        target="_blank"
      >
        Harita Ravindranath</a
      >
    </div>
    <!-- Credit -->
  </div>
</div>
