a{
    padding: 20px;
    margin: 10px;
    float: right;
    color:black;
    font-weight: 500;   
}

a:hover{
    color:rgb(13, 158, 158) !important;
}

a:active{
    color:tomato;
}

.fa.fa-home{
    color:white;
    height:3px;
    width:3px;
    
}


.btn{
    border-radius: 100px;
    padding:3px 7px;
    background:rgb(13, 158, 158);
    color: white;
    
}

.btn:hover{
    background:rgb(33, 197, 197);
    
}

.navbar{
    background:white;
    padding: 0.1rem 2rem;
    min-height: 12vh;
}

.navbar .navbar-brand a{
    padding: 1rem 0;
    display: block;
    text-decoration: none;
   
}

.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    background:rgb(13, 158, 158);
    color: white;
    border-radius: 15px 50px;
    padding-right:33px !important;

}
.navbar-brand:hover{
    background:rgb(33, 197, 197);
}

a.navbar-brand:hover{
   color: white !important;
}


.navbar-toggler {
    background: #e74c3c;
    border:none;
    padding: 10px 6px;
    outline: none;
}

.navbar-toggler span{
    display: block;
    width:22px;
    height:2px;
    border:1px;
    background:white;
}

.navbar-toggler span + span{
   margin-top:4px;
   width:22px;

}

.navbar-expand-lg .navbar-nav .nav-link:active{
    color:tomato;
}

li{
    list-style: none;
}