.card{
    width: 40vw;
    margin:auto;
    margin-top:30px;    
    margin-bottom: 50px;
    border-bottom: 2px solid teal;
}

.card-header{
    font-weight: bold;
    font-size: large;
}

.btn{
    border-radius: 100px;
    /* padding:3px 7px; */
    margin-right:0;
    background:rgb(13, 158, 158);
    color: white;    
    border:1px solid white;
}

.form-control{
    border-radius: 100px;
}

hr{
    background:teal;
    width:70%;
    padding:2px;
    margin:auto;
    margin-top:5px;
}

.btn:hover{
    background:rgb(33, 197, 197);
}

@media only screen and (max-width: 600px) {
    .card{
        width: 90vw;
    }
  }